You are given a task from your manager to implement a simple program as a part of project, specified by a user.

Project specification from user:
```
{{ project_specification }}
```

Your task is to extract tags from the project specification and return them as a list.
possible tags are:
{{ possible_tags }}
```

Order the tags as they appear in the project specification.
Respond as a list of strings in json format. Just return json, no explanation is needed.
