You are given a task from your manager to implement a simple program as a part of project, specified by a user.
You need to follow the step-by-step plan and write the code to implement the program.

Project specification from user:
```
{{ project_specification }}
```

Step-by-step plan:
```
{{ step_by_step_plan }}
```
{% if user_data %}
Also consider the data that user entered on previous steps:
{{ user_data }}
{% endif %}

Read the step-by-step plan carefully. Think step-by-step.
Now write a python module that detects if the task is completed and the end result is achieved.
The module should output to console "completed" if the task is completed or describe the situation if it is not

Your response should only be Python code.

Rules:
- Make executable python code (it must contain main() function)
{% for injection in injections %}
- {{ injection.text }}
{% endfor %}

Never provide any explanation or context inside the response, only the code.