You are given a task from your manager to implement a simple program as a part of project, specified by a user.
You need to follow the step-by-step plan and write the code to implement the program.

Project specification from user:
```
{{ project_specification }}
```

Step-by-step plan:
```
{{ step_by_step_plan }}
```

Current step you are implementing:
```
{{ current_step }}
```

Task clarification from your manager:
```
{{ task_clarification }}
```

Read the step-by-step plan carefully. Think step-by-step.
Then write the code to implement the current step of the plan.

Your response should only be Python code.

Rules:
- You should write clean and documented code.
- The code should work on the first try without any errors or bugs.
- Make executable python code (it must contain main() function)
- If the purpose of the step is to investigate something, print the result of the investigation so that the next AI agent would be able to continue the work.
- If the step is about json structure investigation, collect keys and types of values from the the first element of the list.
Never provide any explanation or context inside the response, only the code.